doctype html
html
  head
    title Kendo
    link(rel='stylesheet' href='assets/styles/kendo.common.min.css')
    link(rel='stylesheet' href='assets/styles/kendo.default.min.css')
    link(rel='stylesheet' href='assets/styles/kendo.default.mobile.min.css')

    script(src='assets/js/jquery.min.js')
    script(src='assets/js/kendo.all.min.js')
  block content
